cryptography==44.0.0
firebase-admin==6.6.0
google-auth-oauthlib==1.2.1
grpcio-status==1.69.0
inquirerpy==0.3.4
pillow_heif==0.22.0
pip==24.3.1
PyAutoGUI==0.9.54
pydantic==2.11.3
pymongo==4.10.1
pyserial==3.5
python-dotenv==1.0.1
pyttsx3==2.98
rich==13.9.4
standard-imghdr==3.13.0
ultralytics==8.3.168
